/* Use this Mixin to insert colors of theme for your web application */

@mixin navbar-theme($navbar-name, $navbar-color, $navbar-text-color) {

	#{$navbar-name}: {
		background-color: $navbar-color;
		color: $navbar-text-color;
	}
}

@mixin sidebar-theme($sidebar-name, $sidebar-color, $sidebar-text-color) {

	#{$sidebar-name}: {
		display: inline-block;
		height: 100%;
		background-color: $sidebar-color;
		color: $sidebar-text-color;
	}

}